@page "/checkout"
@using BlazorSpecialProjectFinal.Objects

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@inject InventoryContext context

<h3>Check Out</h3>

<QuickGrid Items="context.CheckOutHistories" class="table table-striped" Pagination="pagination">
    <PropertyColumn Property="@(s => s.SweetId)" Sortable="true" Title="Product ID" />
    <PropertyColumn Property="@(s => s.Name)" Sortable="true" />
    <PropertyColumn Property="@(s => s.Description)" Sortable="true" />
    <PropertyColumn Property="@(s => s.Quantity)" Sortable="true" />
    <PropertyColumn Property="@(s => s.Price)" Sortable="true" />
    <PropertyColumn Property="@(s => s.Cost)" Sortable="true" />
</QuickGrid>

<Paginator State = "pagination"></Paginator>

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

}
